body {
    font-family: 'Steppe', sans-serif;
    font-size: x-large;
}

h1 {
    font-family: 'Outer Sans', sans-serif;
    font-size: 64px;
    font-weight: 900;
}


h2 {
    font-family: 'Outer Sans Outline', sans-serif;
    font-size: 64px;
    font-weight: 900;
}

.nomargin {
    
    margin-left: 0px;
    margin-right: 0px;
}

.fixedimg{
	position: sticky;
	top: 0;
	right: 0;
	box-sizing:content-box;
	background: white;

}
