:root {
    --swiper-theme-color: #fefee3;
}

body{
    font-family: 'Eastman Roman', sans-serif;
    font-size: 1rem;
    color: #1d1d1d;
    background-color: #fefee3;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p {
    margin-top: 1.2rem;
}

h1 {
    font-family: 'Outer Sans', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 0.9;
}

h2 {
    font-family: 'Outer Sans Outline', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 0.9;
}

@media screen and (min-width: 1400px) {
    body {
        font-size: x-large;
    }

    h1 {  
        font-size: 4rem;
    }
    h2 {
        font-size: 4rem;
    }
}

/*Colors*/
.bg-white{
    background-color: #fefee3;
}

.fg-white{
    color: #fefee3;
}

.bg-green{
    background-color: #2c6e49;
}

.fg-green{
    color: #2c6e49;
}

.bg-softgreen{
    background-color: #4c956c;
}

.fg-softgreen{
    color: #4c956c;
}

.bg-yellow{
    background-color: #fffd8d;
}

.fg-yellow{
    color: #fffd8d;
}
/*End colors*/

.nomargin{
    margin-right: 0;
    margin-left: 0;
}

/*Cover*/
.portada{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #2c6e49;
}

.cover {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.cover img#cloud1{
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    object-fit: cover;
}

.cover img#cloud2{
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 19rem;
    width: 15%;
    object-fit: cover;
}

.cover img#cloud3{
    mix-blend-mode: screen;
    position: absolute;
    top: 60px;
    right: 10rem;
    width: 18%;
    object-fit: cover;
}

.cover img#escudo{
    mix-blend-mode: screen;
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;
    width: 8%;
    object-fit: cover;
}

.cover img#universidad{
    position: absolute;
    margin-top: 15px;
    top: 25px;
    z-index: 10;
    width: 40%;
    left: 0px;
}

.cover img#wave{
    position: absolute;
    bottom: -25px;
    width: 100%;
    left: 0px;
}


#text,#text2{
    line-height: 0.9;
    z-index: 9;
    color: #fefee3;
    letter-spacing: 2px;
}

/*About Section*/

.vl {
    border-left: 2px solid;
    height: 200px;
    max-width: 1px;
  }

.blankdiv {
    padding: 27vh;
}

.about{
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.fixedimg{
	position: sticky;
    text-align: justify;
	top: 20%;
	box-sizing:content-box;
}

.fixedimg img{
    width:700px;
	border-radius:20px;
}

/*Objectives*/

.objectives {
    padding-top: 3rem;
    padding-bottom: 25  vh;
    padding-left: 3rem;
}

/*Timeline*/

.history {
    padding: 15vh 6rem 20vh 6rem;
}

.timeline {
    padding: 2rem;
    border: 1px solid #1d1d1d;
    border-radius: 20px;
}

.tl-timeline {
    background-color: #fefee3;
}

.tl-timenav {
    background-color: #fefee3;
    color: #1d1d1d;
}
.tl-timeaxis{
    color: #1d1d1d;
}

.tl-timenav-slider{
    background-color: #fefee3;

}

.tl-timeaxis-background
{
    background-color: #fefee3;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container
{
    background-color: #1d1d1d;
}
.tl-timenav  {
    border-top: 1px solid #1d1d1d;
}

.tl-timeaxis-background {
    border-top: 1px solid #1d1d1d;
}

.tl-timemarker .tl-timemarker-content-container {
    background-color: #fefee3;
}

.tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description
{
    color: #1d1d1d;
    text-shadow: none;
}

/*Active*/
.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^="tl-icon-"], .tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=" tl-icon-"]
{
    color: #fefee3;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline
{
    color: #fefee3;
}

.tl-timeaxis 
.tl-timeaxis-content-container 
.tl-timeaxis-minor 
.tl-timeaxis-tick
{
    color: #1d1d1d;
}

.tl-timeaxis 
.tl-timeaxis-content-container 
.tl-timeaxis-major 
.tl-timeaxis-tick
{
    color:#1d1d1d;
}

.tl-timemarker
.tl-timemarker-active 
.tl-timemarker-content-container
{
    background-color: #fefee3;
}

.tl-timeline h1, .tl-timeline h2, .tl-timeline h3, 
.tl-timeline h4, .tl-timeline h5, .tl-timeline h6 {
    color: #1d1d1d;
}

/*Headquarters section*/

.headquarters{
    height: 100%;
    padding: 2rem 5rem 3rem 3rem;
}

/*Swiper*/

.swiper {
    width: 100%;
    height: 80vh;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slideImg img{
    margin-left: 18px;

}

.programas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/*Infinite carousel
@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
}
  
@keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
}*/

.slider {
    background: pr;
    height: 100px;
    overflow: hidden;
}
.slider::before, .slider::after {

    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px );
}
 
.swiper {
    width: 100%;
    height: 100%;
    background: #000;
  }

  .swiper-slide {
    width: 100%;
    height: 80vh;
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  

 
  
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }



