.tl-timeline, 
.tl-timenav,
.tl-timenav-slider,
.tl-timenav .tl-attribution,
.tl-timeaxis-background,
.tl-timemarker
.tl-timemarker-active 
.tl-timemarker-content-container,
.tl-timemarker .tl-timemarker-content-container
{
  background-color: #fefee3;
}

.tl-timemarker.tl-timemarker-active 
.tl-timemarker-content-container,
.tl-menubar-button
{
  background-color: #1d1d1d;
}

.tl-slidenav-previous 
.tl-slidenav-content-container.tl-slidenav-inverted 
.tl-slidenav-icon, 
.tl-slidenav-next 
.tl-slidenav-content-container.tl-slidenav-inverted 
.tl-slidenav-icon, 
.tl-slidenav-previous 
.tl-slidenav-content-container.tl-slidenav-inverted 
.tl-slidenav-title, 
.tl-slidenav-next 
.tl-slidenav-content-container.tl-slidenav-inverted 
.tl-slidenav-title, 
.tl-slidenav-previous 
.tl-slidenav-content-container.tl-slidenav-inverted 
.tl-slidenav-description, 
.tl-slidenav-next 
.tl-slidenav-content-container.tl-slidenav-inverted 
.tl-slidenav-description,
.tl-timenav,
.tl-timeaxis,
.tl-timeaxis 
.tl-timeaxis-content-container 
.tl-timeaxis-minor 
.tl-timeaxis-tick,
.tl-timeaxis 
.tl-timeaxis-content-container 
.tl-timeaxis-major 
.tl-timeaxis-tick,
.tl-timeline h1, 
.tl-timeline h2, 
.tl-timeline h3, 
.tl-timeline h4, 
.tl-timeline h5, 
.tl-timeline h6 
{
  color: #1d1d1d;
  text-shadow: none;
}

.tl-timemarker.tl-timemarker-active 
.tl-timemarker-content-container 
.tl-timemarker-content 
.tl-timemarker-media-container [class^="tl-icon-"], 
.tl-timemarker.tl-timemarker-active 
.tl-timemarker-content-container 
.tl-timemarker-content 
.tl-timemarker-media-container [class*=" tl-icon-"],
.tl-timemarker.tl-timemarker-active 
.tl-timemarker-content-container 
.tl-timemarker-content 
.tl-timemarker-text h2.tl-headline,
.tl-menubar-button
{
  color: #fefee3;
}

.tl-timemarker 
.tl-timemarker-line-left, 
.tl-timemarker 
.tl-timemarker-line-right,
.tl-timemarker
.tl-timemarker-active 
.tl-timemarker-content-container,
.tl-timemarker .tl-timemarker-content-container 
{
  box-shadow: none;
}

.tl-timenav,
.tl-timeaxis-background  
{
  border-top: 1px solid #1d1d1d;
}

.tl-message-full {
  background-color: hsla(60, 93%, 94%, 0.8);
}

.tl-message-full .tl-message-container .tl-message-content .tl-button {
  color: #fefee3;
  background-color: #666;
}

.tl-timeline {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: .5rem;
  line-height: 1.3em;
}

.tl-timeline h1,
.tl-timeline h2,
.tl-timeline h3,
.tl-timeline h4,
.tl-timeline h5,
.tl-timeline h6 {
  font-family: 'Outer Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 46px;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.tl-timeline h2.tl-headline-title {
  font-size: 2rem;
  line-height: 46px;
}
.tl-timeline p {
  font-family: 'Droid Sans', sans-serif;
  font-size: .8rem;
  line-height: 1.3em;
}

@media screen and (min-width: 1400px) {
  .tl-timeline, 
  .tl-timeline p
  {
      font-size: large;
  }

  .tl-timeline h1,
  .tl-timeline h2,
  .tl-timeline h3,
  .tl-timeline h4,
  .tl-timeline h5,
  .tl-timeline h6,
  .tl-timeline h2.tl-headline-title 
  {
      font-size: 4rem;
      line-height: 65px;

  }
}

.tl-timeline ul {
  font-family: 'Droid Sans', sans-serif;
}
.tl-timeline .tl-media .tl-media-wikipedia h4 a,
.tl-timeline .tl-media h4,
.tl-timeline .tl-media h4 a {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.tl-timeline .tl-caption,
.tl-timeline .tl-credit {
  font-family: 'Droid Sans', sans-serif;
}
.tl-timeline .vcard {
  font-family: 'Droid Sans', sans-serif !important;
  font-weight: normal !important;
}
.tl-timeline .tl-slidenav-next,
.tl-timeline .tl-slidenav-previous,
.tl-timeline .tl-message,
.tl-timeline .tl-timegroup-message {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: none;
}
.tl-timeline .tl-slidenav-next .tl-slidenav-title,
.tl-timeline .tl-slidenav-previous .tl-slidenav-title,
.tl-timeline .tl-message .tl-slidenav-title,
.tl-timeline .tl-timegroup-message .tl-slidenav-title {
  line-height: 1.3em !important;
}
.tl-timeline .tl-headline-date,
.tl-timeline h3.tl-headline-date {
  font-family: 'Droid Sans', sans-serif !important;
  font-weight: normal !important;
  text-transform: none !important;
}
.tl-timeline .tl-headline-date small,
.tl-timeline h3.tl-headline-date small {
  font-weight: normal !important;
}
.tl-timeline .tl-timenav-slider {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}
.tl-timeline .tl-timenav-slider h2.tl-headline {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: none;
}
.tl-timeline .tl-timenav-slider .tl-timeaxis {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: none;
}
.tl-timeline .tl-menubar {
  font-family: 'Droid Sans', sans-serif;
}
.tl-timeline blockquote,
.tl-timeline blockquote p {
  font-family: 'Droid Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}
input[type="text"].editor-headline {
  font-family: 'Outer Sans', sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
}